.git
.gitignore
.gitattributes

.idea
.vscode
*.iml

.mvn
mvnw
mvnw.cmd

target/classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/maven-archiver
target/test-classes
target/surefire-reports

.env
.env.*

docker-compose*.yml
Dockerfile*

*.md
*.jpg
*.jpeg
*.png
*.gif
*.svg