POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=polybank_db
POSTGRES_USER=polybank_user
POSTGRES_PASSWORD=polybank_password

SPRING_DATASOURCE_USERNAME=polybank_user
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/polybank_db
SPRING_DATASOURCE_PASSWORD=polybank_password

APP_JWT_SECRET=
APP_JWT_EXPIRATION_MINUTES=60

REDIS_DATABASE=
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
